.jumbotron {

    padding-top: 2rem;
    padding-bottom: 0;

}

#contacus {
    background-color: #2443f7;

}

#hubungikami {
    padding-top: 4rem;
}

#daftarsekarang {
    padding-top: 4rem;
}

footer {
    background-color: #001aaa;
}

#kenapa {
    background-color: #001aaa;
    padding-top: 2rem;
}

#pilihanbahasa {
    background-color: #e7008a;
}